body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    max-width: 100vw;
    text-align: center;
    background-color: #213726;
    z-index: 100;
}

h2 {
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.dashboard {
    height: 50vh;
    background-color: #f0f0f0;
}

.secao {
    height: 25vh;
    background-color: #e0e0e0;
    margin: 20px 0;
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between
}

.menudeservicos {
    width: calc(50% - 10px);
    margin-right: 0px;
}


.mensagens {
    width: calc(50% - 10px);
    overflow: auto;
    flex-direction: column;
}

.mensagens p {
    font-size: 18px;
    font-style: italic;
    color: #333;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {

    .menudeservicos, .mensagens {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .secao {
        flex-wrap: nowrap;
    }
}
