body {
  max-width: 300px;
  color: #213726;
}

button {
  color: #213726;
}

.card-body {
  background-color: #f0f0f0;
}

.custom-form .mb-3 {
  border-bottom: 2px solid #213726; /* Cor verde escura */
  padding-bottom: 10px; /* Espaçamento na parte inferior */
  margin-bottom: 15px; /* Margem na parte inferior */
}
/* Estilo para o container do formulário de feedback */
#feedback-form {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto auto;
}

/* Estilo para os labels do formulário */
#feedback-form label {
  font-weight: bold;
}

/* Estilo para os inputs de texto, url e textarea do formulário */
#feedback-form input[type="text"],
#feedback-form input[type="url"],
#feedback-form textarea {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

/* Estilo específico para o textarea do formulário */
#feedback-form textarea {
  resize: vertical;
}

/* Estilo para o container das estrelas */
#feedback-form .stars-container {
  display: flex;
  align-items: center;
}

/* Estilo para os labels das estrelas */
#feedback-form .stars-container label {
  margin-right: 5px;
}

/* Estilo para os inputs de rádio das estrelas */
#feedback-form .stars-container input[type="radio"] {
  display: none;
}

/* Estilo para o ícone das estrelas */
#feedback-form .stars-container label:before {
  content: "\2605";
  font-size: 24px;
  color: #ccc;
}

/* Estilo para o ícone das estrelas quando selecionado */
#feedback-form .stars-container input[type="radio"]:checked ~ label:before {
  color: #ffcc00;
}

/* Estilo para o conjunto de estrelas */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating input {
  display: none;
}
.rating label {
  display: inline-block;
  padding: 5px;
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}
.rating label:before {
  content: "\2605";
}
.rating input:checked ~ label {
  color: #ffcc00;
}

/* Media queries para tornar o CSS responsivo */
@media screen and (max-width: 768px) {
  #feedback-form {
    grid-template-columns: 1fr; /* Altera para uma coluna em telas menores */
  }
}

@media screen and (max-width: 480px) {
  .feedback img {
    width: 30px; /* Reduz o tamanho da imagem de perfil em telas muito pequenas */
    height: 30px;
  }
}
